# Python
__pycache__/
*.pyc
.env/

# Virtual environments
.venv/
venv/
env/

# Local DB / runtime files
*.db
*.sqlite3

# OS / editor
.DS_Store
.vscode/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.idea/
mobile/.vscode/

# Android
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/

# iOS
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/ephemeral/
